.notFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    font-family: 'Roboto';
}
.notFound >a{
    font-size: 2vmax;
    margin-top: 5%;
}