.shippingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiStepper-horizontal {
  margin-top: 2vmax;
}

.shippingBox {
  background-color: white;
  box-sizing: border-box;
  width: 50vw;
  height: 90vh;
}

.shippingHeading {
  text-align: center;
  color: black;
  font-size: 400;
  border-bottom: 1px solid black;
  margin: 3% 10% 5% 25%;
  width: 50%;
}

.shippingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 80%;
  transition: all 0.5s;
}

.shippingForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.shippingForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.shippingForm > div > select {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}
.shippingForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.shippingBtn {
  border: none;
  border-radius: 5px;
  background-color: rgb(38, 165, 65);
  color: white;
  font: 300 1vmax;
  cursor: pointer;
  padding: 1vmax;
  outline: none;
  margin: 2vmax;
  width: 45%;
  transition: all 0.5s;
}

.shippingBtn:hover {
  background-color: rgb(21, 140, 47);
}
@media screen and (max-width: 600px) {
  .shippingBox {
    width: 100vw;
    height: 95vh;
  }

  .shippingHeading {
    font: 400 6vw "Roboto";
    padding: 5vw;
  }

  .shippingForm {
    padding: 11vw;
  }

  .shippingForm > div > input,
  .shippingForm > div > select {
    padding: 5vw 10vw;
    font: 300 4vw cursive;
  }

  .shippingForm > div > svg {
    font-size: 6vw;
    transform: translateX(3vw);
  }

  .shippingBtn {
    font: 300 4vw "Roboto";
    padding: 4vw;
  }
}
